.env
.DS_Store
.ipynb_checkpoints/
.ingest.lock
pdfs/
chroma_store/
Legacy_logs/logs/
Legacy_logs/logs_v1
Legacy_logs/logs_v2
Legacy_logs/logs_v3
logs_graph
logs*
traits/
figures
docs/specs
analyze_report/
group_reports/
CLAUDE.md
.claude
kg/cache/*
!kg/cache/.gitkeep
core/__pycache__/
__pycache__/
kg/__pychache__/
pipeline/__pycache__/
scripts/__pycache__/
*.pyc
*.pyo
chroma_store
shared_chroma