.env
pdfs/
chroma_store/
logs/
logs_v1
logs_v2
logs_v3
logs*
traits/
specs
analyze_report/
group_reports/
CLAUDE.md
.claude
kg/cache/*
!kg/cache/.gitkeep
core/__pycache__/
__pycache__/
kg/__pychache__/
pipeline/__pycache__/
scripts/__pycache__/
*.pyc
*.pyo